/* 
  em - relative to its paremt
  1em - 16 px default browser style
  1em - base value
*/

div {
  font-size: 30px;
}
/* here 1em = 30px */
.relative {
  font-size: 2em;
}

.absolute {
  font-size: 30px;
}
