/* background Size */

div {
  color: crimson;
  height: 400px;
}

.big {
  background: url("./big.jpeg");
  background-repeat: no-repeat;
}

.small {
  background: url("./small.jpeg");
  background-repeat: no-repeat;
  background-size: cover; /*will strech the image to the size of the div */
}

.folder {
  background: url("./img/folder-img.jpeg");
  background-size: contain; /* will keep the ratio of the image and cover up the div */
}
